<h1>Create and Submit order</h1>
<div class="card">
<form id="createOrder" class="form post-form">
 
  <label for="snowplow" class="form-label"> snowplow</label>
  <input type="checkbox" id="snowplow" name="snowplow" value="snowplow">
  <br>
  <label for="lawnmowing" class="form-label"> lawnmowing</label>
  <input type="checkbox" id="lawnmowing" name="lawnmowing" value="lawnmowing">
  <br>
  <label for="mulching" class="form-label"> mulching</label>
  <input type="checkbox" id="mulching" name="mulching" value="mulching">
  <br>
  <label for="snowplow" class="form-label"> Treecutting</label>
  <input type="checkbox" id="treecutting" name="treecutting" value="treecutting">
  <br>
  <label for="bugspraying" class="form-label"> bugspraying</label>
  <input type="checkbox" id="bugspraying" name="bugspraying" value="bugspraying">
  <br>
  <label for="firewood" class="form-label">Firewood:</label>
  <input type="text" id="firewood" name="firewood" placeholder="quantity of cords">
  <br>
  <label for="mulch" class="form-label">Mulch</label>
  <input type="text" id="mulch" name="mulch" placeholder="quantity in cubic yards">
  <br><br>
  <input type="submit" value="Submit">
</form>
</div>