<div id="createNewOrder" class="card">
  <form id="createNewOrder" class="form post-form" method="get">
      <h1>Create and Submit order</h1>
    <label for="nameFirst" class="form-label">Name</label>
    <input type="text" id="nameFirst" name="nameFirst" placeholder="First Name" />
    <br>
    <label for="snowplow" class="form-label"> Snow Plow</label>
    <input type="checkbox" id="optionSelection1" name="snowplow" value="snowplow" />
    <br>
    <label for="lawnmowing" class="form-label"> Lawn Mowing</label>
    <input type="checkbox" id="optionSelection2" name="lawnmowing" value="lawnmowing" />
    <br>
    <label for="mulching" class="form-label"> Mulching</label>
    <input type="checkbox" id="optionSelection3" name="mulching" value="mulching" />
    <br>
    <label for="snowplow" class="form-label"> Tree Cutting</label>
    <input type="checkbox" id="optionSelection4" name="treecutting" value="treecutting" />
    <br>
    <label for="bugspraying" class="form-label"> Bug Spraying</label>
    <input type="checkbox" id="optionSelection5" name="bugspraying" value="bugspraying" />
    <br>
    <label for="firewood" class="form-label">Firewood:</label>
    <input class="form-control" type="text" id="optionSelections" name="firewood" placeholder="quantity of cords" />
    <br>
    <label for="mulch" class="form-label">Mulch</label>
    <input class="form-control" type="text" id="optionSelections" name="mulch" placeholder="quantity in cubic yards" />
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>
<h4 style="color:green" id="result"></h4>

<script src="/js/create.js"></script>