<body class="bg-link">
<div class="card-head bg-info text-dark w-100 mx-auto pt-2 px-4 border border-dark border-top-5 border-5 rounded-bottom rounded top">
<h1 class="text-center">R and L services</h1>
</div>
  <br><br><br>
<div class="card-body bg-info text-dark w-100 mx-auto col-md-6rr pt-2 px-4 border border-dark border-top-5 border-5 rounded-bottom rounded top">
<h2>
  Welcome to R and L services, the one stop shop for a homeowners outside needs! 
  Our priority is speed, efficiency, and customer satisfaction while providing our services and goods for an affordable price!
  Services offered in wisconsin only. 
  <br><br>
  For any further questions, contact me by email:rlservices@gmail.com 
</h2>
</div>
</body>