<body class="bg-link">
<h1 class="text-center"><span style = "background-color:cyan">R and L services</span></h1>
  <br><br><br>
<h2><span style = "background-color:cyan">
  Welcome to R and L services, the one stop shop for a homeowners outside needs! 
  Our priority is speed, efficiency, and customer satisfaction while providing our services and goods for an affordable price!
  Service in wisconsin, for any further questions, contact me by email:rlservices@gmail.com 
</span></h2>
</body>