<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}    
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
<body class="bg-info">
<h1 class=" text-center" id="service">Products available</h1>
<br>
<div class="card">
  <img src="../images/firewood.png" alt="firewood" style="width:100%">
  <h1>Firewood</h1>
  <p class="price">$300.00</p>
  <p>For 1 full cord of dried firewood</p>
</div>
<br><br>
<div class="card">
  <img src="../images/mulch.png" alt="firewood" style="width:100%">
  <h1>Mulch</h1>
  <p class="price">$30.00 per cubic yard</p>
  <p>A quality price for quality mulch</p>
</div>
<br><br>
</body>
  <style>
    .table {
    margin-left: 7%;
    margin-right: 7%;
    width:86%;
    background-color: white;
    border-width: 1cm;
    border-collapse: separate;
    }
    .table thead th {
        font-size: 1.5rem;
    }
    .table td {
        font-size: 1.2rem;
    }
    .table tbody th {
        font-size: 1.32rem;
    }
    .main {

    }
    .container {
        width: 100%;
        max-width: 2500px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .container.container-fluid {
        width: 100%;
    }
 </style>
 
 <body class="bg-info">
    </br>
    <div class="text-center">
    <h1>All Orders</h1>
    </div>
    </br>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr height="70px">
                    <th scope="col" width="12%">Face Cord</th>
                    <th scope="col" width="12%">Half Cord</th>
                    <th scope="col" width="62%">Full Cord</th>
                </tr>
            </thead>
            <tbody>
               
                 <tr>
                       
                      <td>$100</td>  
                     <td>$150 </td>
                     <td>$300</td>
                 </tr>
              
             </tbody> 
         </table>
     </div>