<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}    
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>

<h1 class=" text-center" id="service">Products available</h1>

<div class="card">
  <img src="../images/firewood.png" alt="firewood" style="width:100%">
  <h1>6. Firewood</h1>
  <p class="price">$300.00</p>
  <p>For 1 full cord of dried firewood</p>
</div>
<br><br>
<div class="card">
  <img src="../images/mulch.png" alt="firewood" style="width:100%">
  <h1>7. Mulch</h1>
  <p class="price">$30.00 per cubic yard</p>
  <p>A quality price for quality mulch</p>
</div>
<br><br>