<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}    
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>

<h1 class=" text-center" id="service">Services available</h1>
<br>
<div class="card">
  <img src="../images/snowplow.jpg" alt="snowplow" style="width:100%">
  <h1>1. Snowplow</h1>
  <p class="price">$60.00</p>
  <p>A quick but clean emptying of snow from the driveway and walkway with any amount and type of snow.</p>
</div>
<br><br>
<div class="card">
  <img src="../images/lawnmowing.jpg" alt="lawnmowing" style="width:100%">
  <h1>2. Lawn mowing</h1>
  <p class="price">$45.00 for a standard yard</p>
  <p>Cut in straight lines to look like nice fresh cut.</p>
</div>
<br><br>
<div class="card">
  <img src="../images/mulching.jpg" alt="mulching" style="width:100%">
  <h1>3. Mulching</h1>
  <p class="price">$50.00 per cubic yard</p>
  <p>Well distributed mulch, done to the customers preference.</p>
</div>
<br><br>
<div class="card">
  <img src="../images/treecutting.jpg" alt="treecutting" style="width:100%">
  <h1>4. Tree cutting</h1>
  <p class="price">$700</p>
  <p>Tree will be cut down safely and cleaned up.</p>
</div>
<br><br>
<div class="card">
  <img src="../images/bugspraying.jpg" alt="bugspraying" style="width:100%">
  <h1>5. Bug spraying</h1>
  <p class="price">$700</p>
  <p>This is for yearly upkeep of spraying your yard for bugs.</p>
</div>
<br><br>