 <section id="vieworders">
    <h2>All Orders</h2>
        <table class="table">
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Items Ordered</th>
                </tr>
            {{#each orders}}
                <tr>
                    <th>{{id}} </th>
                    <td>{{name}}</td>
                    <td>{{orderoptions_id}}</td>
                </tr>
            {{/each}}
        </table>

 </section>

